#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tic-tac__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tic-tac {
  position: relative;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: solid 1px black;
}

.tic-tac__title {
  display: flex;
  gap: 10px;
}

.tic-tac__winer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
